.footer {
  background-color: $color-default-font;
}

.footer__inner-wrapper {
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet) {
    justify-content: start;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content 1fr;
  }

  @media (max-width: $mobile) {
    grid-template-columns: 1fr;
    grid-template-rows: none;
  }
}

.footer__logo-wrapper {
  display: grid;
  align-content: start;
  gap: 35px;

  @media (max-width: $tablet) {
    grid-column: 1/-1;
    grid-row: 1/-2;
    grid-template-columns: 215px 1fr;
    align-items: center;
    gap: 0;
    margin-bottom: 35px;
  }

  @media (max-width: $mobile) {
    grid-template-columns: none;
    grid-template-rows: none;
    gap: 20px;
    margin-bottom: 22px;
    padding: 0 7.81%;
    justify-items: center;
  }
}

.footer__chapters {
  @media (min-width: $vp-1280) {
    margin-left: 125px;
    margin-top: 8px;
  }

  @media (max-width: $tablet) {
    margin-top: 0;
  }
}

.footer__social {
  justify-self: start;
  margin-left: 10px;

  @media (max-width: $tablet) {
    justify-self: end;
    margin: 0;
  }

  @media (max-width: $mobile) {
    justify-self: center;
  }
}

.footer__address {
  margin-right: 35px;

  @media (max-width: $tablet) {
    margin: 0;
    margin-left: 15px;
  }

  @media (max-width: $mobile) {
    margin: 0;
  }
}
