.modal {
  background-color: $blue-color;
  position: absolute;
  height: max-content;
  min-height: 500px;
  display: grid;
  justify-self: center;
  top: 120px;
  padding: 40px;
  width: 500px;
  border-radius: 3px;
  z-index: 1000;
  animation: bounce 0.6s;

  &::before {
    display: none;
  }

  &--close {
    display: none;
  }
}

.modal__wrapper h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 15px;
}

.modal__wrapper p {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 40px;
}

.modal__wrapper ul {
  display: grid;
  gap: 20px;
  margin-bottom: 25px;
}

.modal__submit-wrapper {
  display: grid;
  grid-template-columns: none;
  gap: 20px;
}

.modal__wrapper input[type="text"] {
  margin: 0;
}

.modal__wrapper li[data-form="textarea"] {
  width: 100%;
}

.modal__wrapper input[type="checkbox"]:checked + label::after {
  top: 3px;
}

.modal__wrapper {
  position: relative;
}

.modal__wrapper button[data-button="close"] {
  position: absolute;
  top: -34px;
  right: -34px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 0;
  background: none;

  &::before,
  &::after {
    top: 25px;
    right: 15px;
    content: "";
    position: absolute;
    width: 27px;
    height: 2px;
    background-color: $white-color;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
